Package: com.darkedge.RunnerHelper
Name: RunnerHelper
Version: 0.1-1
Description: 闲鱼订单添加备忘录功能
Section: System
Depends: firmware (>= 7.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: jie
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

